@import './vars.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  font-family: var(--main-font), sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  section {
    &.resize {
      max-width: $l;
      margin: 50px auto auto auto;
    }

    .text {
      margin-top: 25px;
      margin-bottom: 25px;
      font-size: var(--text-normal);
    }
  }

  a {
    text-decoration: none;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }
  }

  a, button {

    &.btn {
      font-family: var(--main-font), sans-serif;
      font-weight: 700;
      display: inline-block;
      border-radius: 10px;
      font-size: 16px;
      padding: 0 21px;
      height: 46px;
      line-height: 46px;

      &.blue {
        background: #0066ff;
        color: white;
        box-shadow: rgba(255, 255, 255, 0) 0 0 0 3px, rgba(0, 102, 255, 0) 0 0 0 4px;
      }

      &.white {
        color: black;
        background: none;
        background: white;
        box-shadow: inset #d8d8da 0 0 0 1px;
      }
    }
  }
}
