@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;700&display=swap');
// responsive points
$l: 1280px;
$m: 860px;
$s: 580px;

:root {
    --navbar-height: 50px;
    --navbar-bg: rgb(239, 230, 238);
    --navbar-color: #607d8b;

    --btn-hover-color: rgba(0, 0, 0, 0.11);
    --btn-active-color: rgba(61, 61, 61, 0.11);
    --gray: #919191;
    --gray-light: #d3d3d3;
    --light: #fff;
    --orange: #ff9800;

    --main-font: Archivo;

    --text-extra-big: 100px;
    --text-big: 60px;
    --text-normal: 20px;
    --text-small: 16px;

    --l: 1280px;
}
