@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@400;500;600;700&display=swap');

// responsive points
$l: 1280px;
$m: 860px;
$s: 580px;

:root {
    --navbar-height: 50px;
    --navbar-bg: rgb(239, 230, 238);
    --navbar-color: #607d8b;

    --btn-hover-color: rgba(0, 0, 0, 0.11);
    --btn-active-color: rgba(61, 61, 61, 0.11);

    --main-font: Athiti;

    --text-big: 24px;
    --text-normal: 20px;
    --text-small: 18px;

    --l: 1280px;
}
